form {
  display: flex;
  flex-direction: column;
}

mat-card-title{
  text-align: center;
}

button {
  margin-right: 15px;
}

input {
  margin-bottom: 10px;
}

mat-label {
  margin-bottom: 10px;
}

.container {
  width: 60%;
}

select {
  margin-bottom: 10px;
 }
